<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/signUp.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/signUp}" method="post">
    <h1>회원 가입</h1>
    <div class="input-group">
        <label for="id" th:text="${id}" style="text-align: ">아이디</label>
        <br>

    </div>

    <div id="backView">
        <a th:href="@{/login}"><button id="btnBack" type="button">로그인 화면으로</button></a>
    </div>

</form>
</body>
</html>